* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > *,main .container div {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px #00000070;
}
p{
    font-size: 25px;
    color: white;
    font-weight: bold;

}

header,footer{
display: flex;
align-items: center;
}

body {
    padding: 20px;
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(500px,4fr) 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas: "header header" "main aside" "footer footer";
}

header {
    grid-area: header;
    background-color: blue;
}

main {
    grid-area: main;
    background-color: green;
}

aside {
    grid-area: aside;
    background-color: orangered;
}

footer {
    grid-area: footer;
    background-color: blue;
}
/* main .container{
    display: flex;
    flex-wrap: wrap;
    
}
main .container div{
    width: 100px;
    height: 100px;
    margin: 0 20px 20px 0;
    background-color: rgb(0, 71, 0);
    display: flex;
    align-items: center;
    justify-content: center;

} */
main .container{
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
}
main .container div{
    background-color: rgb(0, 71, 0);
    
}