body {
    color: green;
}
ul{
    color:blue;
}


.mylist{
    list-style: none;
 color: rgb(141, 8, 8);
}

.mylist li{
   margin: 20px;
}

.mylist .css {
    color:blue;
}

.mylist.list{
    color:green;
}
.mylist li:nth-of-type(1){
    color: black;
}

body p.css{
    font-size: 30px;
}
/* #myid{
    color: lightblue;
}  */