.mylist{
    list-style: none;
    font-size: 30px;
    color:blue
}
.my{
    list-style: none;
    font-size: 40px;
    color:red;
}
.css{

    font-size: 60px;
    color:rebeccapurple;
}
.aar{
    color: black;
    font-size: 80px;
}