body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background: url("img/kupit-fotooboi-na-stenu-stadion-cn1915.jpg") no-repeat center center fixed;
    background-size: cover;

}

*, *::before, ::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 115px;
}

.header__inner {
    display: flex;
    justify-content: center;
    padding: 35px 0;
    align-items: center;
}
.header__logo {
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {
        opacity: 0;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    height: 720px;
    
}

.intro__title {
    font-family: 'Open Sans' sans-serif;
    font-size: 65px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px;
}
button{
    font-size: 20px;
    background-color:red;
    font-weight: bold;
}


.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    height: 400px;
    width: 33.33333%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}



.works__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
   



.intro__subtitle {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-size: 25px;
    color: rgb(29, 29, 150);
    font-weight: 400;
    
}

.anim-typewriter {
    animation: typewriter 8s steps(74) 1s 1 normal both, blinkTextCursor infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 30em;
    }
}

.team {
    margin: 100px 0 70px;
    padding: 0 450px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -15px; */
}


.social{
    display: flex;
}
.social__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 4px;
}
